<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Beau Collins</string>
	<key>CFBundleDisplayName</key>
	<string>rddt</string>
	<key>CFBundleIdentifier</key>
	<string>com.beaucollins.safari.rddt</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1</string>
	<key>CFBundleVersion</key>
	<string>0.1</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>rddt.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Blacklist</key>
		<array>
			<string>http://*.local/*</string>
		</array>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>rddt_ensure.js</string>
			</array>
			<key>Start</key>
			<array>
				<string>rddt_inject.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>rddt.css</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Experimental Reddit Extension</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://github.com/beaucollins/rddt/raw/master/UpdateManifest.plist</string>
	<key>Website</key>
	<string>http://beaucollins.com/rddt</string>
</dict>
</plist>
