rddt-shim {
  display: block;
  height: 48px;
}

rddt#rddt a {
  font-family: Helvetica !important;
  color: #FFF !important;
  text-decoration: none !important;
  border: none !important;
  background: none !important;
  font-weight: normal !important;
}

* rddt#rddt {
  line-height: 1.2em !important;
  font-family: Helvetica !important;
  font-size: 12px !important;
  position: fixed;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  -webkit-transition-duration: 200ms;
  z-index: 999999; /* I'm on the top bitches! */
}

rddt#rddt * {
  font-family: Helvetica;
}

* rddt#rddt.loading {
  opacity: 0.9;
}

* rddt#rddt:hover {
  opacity: 1.0;
}

* rddt#rddt rddt-bar {
  color: #FFF;
  display: table-row;
}

* rddt#rddt .rddt-panel {
  display: table-cell;
  text-align: center;
  position: relative !important;
}

* rddt#rddt rddt-vote-panel, * rddt#rddt rddt-message-panel {
  vertical-align: middle;
  display: table-cell;
  position: relative;
  min-width: 40px;
  text-align: center;
  min-height: 44px;
  max-height: 44px;
  height: 44px;
}

* rddt#rddt rddt-message-panel, * rddt#rddt.loading rddt-message-panel.on {
  padding: 0;
  min-width: 0;
  max-width: 0;
  border: none;
  overflow: hidden;
  -webkit-transition-duration: 200ms;
}

* rddt#rddt rddt-message-panel.on {
  min-width: 28px;
  max-width: 28px;
  border-right: 1px solid rgba(0,0,0,0.1);
}

* rddt#rddt a.rddt-message-bttn {
  display: table-cell !important;
  display: block !important;
  height: 100%;
  border-right: 1px solid rgba(255,255,255,0.1);
}

* rddt#rddt rddt-envelope {
  width: 28px;
  height: 100%;
  background: url(images/envelope_orangered.png) no-repeat center center;
  display: block;
}

* rddt#rddt rddt-upvote, * rddt#rddt rddt-downvote {
  width: 16px;
  height: 16px;
  margin: 4px auto !important;
  border-radius: 1em;
  background: no-repeat center center;
  cursor: pointer;
  -webkit-transition-duration: 200ms;
  position: relative;
  z-index: 100;
  display: block;
}

* rddt#rddt.loading rddt-upvote, * rddt#rddt.loading rddt-downvote {
  opacity: 0;
  cursor: default;
}

* rddt#rddt rddt-upvote:hover, * rddt#rddt rddt-downvote:hover {
  background-color: rgba(255,255,255,0.5);
}

* rddt#rddt rddt-upvote:active, * rddt#rddt rddt-downvote:active {
  background-color: rgba(255,255,255,0.9);
}

* rddt#rddt rddt-upvote {
  background-image: url(images/up_off.png);
}

* rddt#rddt .up rddt-upvote {
  background-image: url(images/up_on.png);
}

* rddt#rddt rddt-downvote {
  background-image: url(images/down_off.png);
}

* rddt#rddt .down rddt-downvote {
  background-image: url(images/down_on.png);
}

/* dark blue gloss */
* rddt#rddt .rddt-panel {
  border-left: 1px solid rgba(0,0,0,0.1);
  min-height: 44px;
  max-height: 44px;
  vertical-align: middle;
  background: -webkit-gradient(linear, 0 0, 0 2, from(rgba(0,0,0,0.5)), to(rgba(0,0,0,0))), /* inner shadow */
              -webkit-gradient(linear, left top, left bottom, from(#5287B2), to(#1A2B38), color-stop(0.5, #447093), color-stop(0.5, #365A75)), /* blue gloss */
              #365A75;
  -webkit-transition-duration: 200ms;
  -webkit-transition-property: max-width;
  overflow: hidden;
}

* rddt#rddt a.rddt-message-bttn:hover {
  background: -webkit-gradient(linear, 0 0, 0 2, from(rgba(0,0,0,0.5)), to(rgba(0,0,0,0))), /* inner shadow */
              -webkit-gradient(linear, left top, left bottom, from(#5287B2), to(#1A2B38), color-stop(0.5, #447093), color-stop(0.5, #365A75)), /* blue gloss */
              #365A75 !important;
}

* rddt#rddt .rddt-panel:nth-child(2) {
  border-left: none;
  background: -webkit-gradient(linear, 0 0, 3 0, from(rgba(0,0,0,0.5)), to(rgba(0,0,0,0))),
              -webkit-gradient(linear, 0 0, 0 2, from(rgba(0,0,0,0.5)), to(rgba(0,0,0,0))),
              -webkit-gradient(linear, left top, left bottom, from(#5287B2), to(#1A2B38), color-stop(0.5, #447093), color-stop(0.5, #365A75)), /* blue gloss */
              #365A75;
  
}

* rddt#rddt .rddt-panel:last-child {
  border-top-right-radius: 5px;
  border-right: none;
}

/* light blue gloss */
* rddt#rddt rddt-vote-panel,
* rddt#rddt rddt-message-panel,
* rddt#rddt rddt-close-bttn:hover {
  background: -webkit-gradient(linear, 0 0, 0 2, from(rgba(0,0,0,0.5)), to(rgba(0,0,0,0))), /* inner shadow */
              -webkit-gradient(linear, left top, left bottom, from(#CEE3F6), to(#5E9ACB), color-stop(0.5, #A1C6E5), color-stop(0.5, #81B1D9)),
              #94BDE0;
}

/* light blue pressed */
* rddt#rddt rddt-close-bttn:active {
  background: -webkit-gradient(linear, 0 0, 0 2, from(rgba(0,0,0,0.5)), to(rgba(0,0,0,0))), /* inner shadow */
              -webkit-gradient(linear, left top, left bottom, to(#94BDE0), from(#5E9ACB)),
              #94BDE0;
}

* rddt#rddt rddt-close-bttn {
  vertical-align: middle;
  cursor: pointer;
  font-weight: bold;
  color: rgba(255,255,255,0.5);
  font-size: 14px;
  overflow: hidden;
  max-width: 20px;
  width: 20px;
  text-align: center;
  -webkit-transition-property: max-width, color;
  -webkit-transition-duration: 200ms;
}

* rddt#rddt rddt-close-bttn-padding {
  display: block;
}

* rddt#rddt rddt-close-bttn:hover rddt-close-bttn-padding {
  color: #FFF;
}

* rddt#rddt rddt-close-bttn-padding, * rddt#rddt.off rddt-close-bttn:hover rddt-close-bttn-padding {
  -webkit-transform: rotate(180deg);
  -webkit-transition-duration: 200ms;
}

* rddt#rddt rddt-close-bttn:hover rddt-close-bttn-padding, * rddt#rddt.off rddt-close-bttn-padding {
  -webkit-transform: rotate(0deg);
}

* rddt#rddt.loading rddt-close-bttn {
  max-width: 0;
  border: none;
  padding: 0 !important;
  display: none;
}

* rddt#rddt rddt-score-panel {
  position: relative;
  max-width: 100px;
  -webkit-transition-duration: 200ms;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.9);
}

* rddt#rddt.loading rddt-score-panel {
  min-width: 35px;
  padding: 0 !important;
  border-width: 0;
  border-top-right-radius: 5px;
}

* rddt#rddt.loading rddt-submission-score {
  display: none;
}

* rddt#rddt rddt-submission-score {
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  cursor: default;
  margin: 0 5px !important;
  display: block;
}

* rddt#rddt rddt-submission-info {
  display: block;
  text-align: left;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.9);
  font-weight: bold;
  padding: 2px 5px !important;
  white-space: nowrap;
  -webkit-transition-duration: 200ms;
}

* rddt#rddt rddt-submission-info-panel {
  max-width: 500px;
  -webkit-transition-duration: 200ms;
}

* rddt#rddt.off rddt-submission-info, * rddt#rddt.loading rddt-submission-info-panel {
  opacity: 0;
}

* rddt#rddt.loading rddt-submission-info-panel, * rddt#rddt.off rddt-submission-info-panel {
  max-width: 0;
  border: none;
}

* rddt#rddt .rddt-submission-title {
  font-weight: bold !important;
  font-size: 12px !important;
  padding: 1px 5px !important;
  overflow: hidden;
  white-space: nowrap;
  border-radius: 1em !important;
  text-overflow: ellipsis;
  cursor: pointer;
  display: block !important;
}

* rddt#rddt .rddt-submission-title:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#365A75), to(#1A2B38)) !important;
}

* rddt#rddt .rddt-submission-title:active {
  background: -webkit-gradient(linear, left top, left bottom, to(#243F58), from(#1A2B38)) !important;
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.1) !important;
}

* rddt#rddt .rddt-comments {
  font-weight: bold !important;
  border-radius: 1em !important;
  padding: 1px 5px !important;
  margin: 0 5px !important;
  display: inline-block !important;
  font-size: 11px !important;
  background: url(images/comments_icon.png) no-repeat 3px center !important;
  padding-left: 21px !important;
  cursor: pointer;
}

* rddt#rddt.loading .rddt-comments {
  display: none !important;
}

* rddt#rddt .rddt-comments:hover {
  background: url(images/comments_icon.png) no-repeat 3px center,
              -webkit-gradient(linear, left top, left bottom, from(#25415A), to(#111C25)) !important;

}

* rddt#rddt .rddt-comments:active {
  background: url(images/comments_icon.png) no-repeat 3px center,
              -webkit-gradient(linear, left top, left bottom, to(#25415A), from(#111C25)) !important;
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.1) !important;
}

* rddt#rddt .rddt-user {
  font-weight: bold !important;
  border-radius: 1em !important;
  padding: 1px 5px !important;
  display: inline-block !important;
  font-size: 11px !important;
  background: url(images/user_icon.png) no-repeat 3px 1px !important;
  padding-left: 17px !important;
  cursor: pointer !important;
}

* rddt#rddt .rddt-user:hover {
  background: url(images/user_icon.png) no-repeat 3px 1px,
              -webkit-gradient(linear, left top, left bottom, from(#25415A), to(#111C25)) !important;

}

* rddt#rddt .rddt-user:active {
  background: url(images/user_icon.png) no-repeat 3px 1px,
              -webkit-gradient(linear, left top, left bottom, to(#25415A), from(#111C25)) !important;
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.1);
}

* rddt#rddt .rddt-sub {
  font-weight: bold !important;
  border-radius: 1em !important;
  padding: 1px 5px !important;
  display: inline-block !important;
  font-size: 11px !important;
  background: url(images/reddit_icon.png) no-repeat 3px 1px !important;
  padding-left: 17px !important;
  cursor: pointer !important;
}

* rddt#rddt .rddt-sub:hover {
  background: url(images/reddit_icon.png) no-repeat 3px 1px,
              -webkit-gradient(linear, left top, left bottom, from(#25415A), to(#111C25)) !important;

}

* rddt#rddt .rddt-sub:active {
  background: url(images/reddit_icon.png) no-repeat 3px 1px,
              -webkit-gradient(linear, left top, left bottom, to(#25415A), from(#111C25)) !important;
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.1);
}

* rddt#rddt rddt-time {
  font-size: 11px;
  display: inline-block;
  padding: 1px 5px !important;
  padding-left: 18px !important;
  background: url(images/time_icon.png) no-repeat 3px 1px;
  cursor: default;
}

* rddt#rddt rddt-throbber {
  position: absolute;
  top: 13px;
  right: 7px;
  width: 22px;
  height: 22px;
  background: url(images/throbber.png);
  display: block;
  opacity: 0;
  z-index: 50;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 500ms;
}

* rddt#rddt.loading rddt-throbber {
  opacity: 1.0;
}

* rddt#rddt rddt-alien {
  position: absolute;
  top: 3px;
  left: 8px;
  width: 25px;
  height: 37px;
  background: url(images/alien.png);
  opacity: 0;
  -webkit-transition-duration: 200ms;
}

* rddt#rddt.loading rddt-alien {
  opacity: 1;
}


@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

